@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400;1,500&display=swap');

*{
    padding:0;
    margin:0;
    
}

body{
    text-align:center;
    font-family: 'Open Sans';

}
header{
    padding:10px 0;

}
nav a{
    display: inline-block;
    text-decoration: none;
    color:#696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover{
    background-color: black;
    color: #fff;
}

.portada{
    color:white;
    text-align: center;
    background-image: url(media/pixel.png);
    background-size: contain;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portada h1{
    font-size: 3rem;
    margin: 5 0 15 0;
}
.portada h2{
    font-size: 2rem;
    margin: 5 0 15 0;
}
.portada a{
    text-decoration: none;
    color:white;
    margin-top: 7rem;
    padding: 5px 15px;
    border-radius: 30px;
}

main{
    display:grid;
    grid-template-columns: 15% 70% 15%;
    background-color: #f2f2f2;
    
}


#btn-mas{
    display: none;
}
.container{
    position: sticky;
    margin-left: 100px;
    top:40px;

}

.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    background: black;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}

#fb:hover{
    background: #fff;
    color:blue;
}
#tw:hover {
    background: #fff;
    color:#51d1f6;
}
#yt:hover{
    background: #fff;
    color:red;
}
#ld:hover{
    background: #fff;
    color:blue;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: black;
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg);
    font-size: 25px;
}


.portada a:hover{
    background-color: black;
    color: #fff;
}

article h3,p{
    margin:1em 0 1em 0;
}
article p{
    font-family: 'Tai Heritage Pro', serif;
    font-size: 20px;
}
table { font-family: «Lucida Sans Unicode», «Lucida Grande», Sans-Serif;
    font-size: 12px; margin: 45px; width: 480px; text-align: left; border-collapse: collapse;
    margin:0 auto;
    border-radius: 12px;
    box-shadow: 0px 15px 10px rgba(0,0, 0, 0.5); 
}
    
th { font-size: 13px; font-weight: normal; padding: 8px; background: #b9c9fe;
    border-top: 4px solid #aabcfe; border-bottom: 1px solid #fff; color: #039; 
}
    
td { padding: 8px; background: #e8edff; border-bottom: 1px solid #fff;
    color: #669; border-top: 1px solid transparent; }

.tr{
    padding: 8px; background: #e8edff; border-bottom: 1px solid #fff;
    color: black; border-top: 1px solid transparent; 

}
.list{
    text-align: left;
    padding-left: 14em;
    padding-right: 14em;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor figure{
    position: relative;
    height: 360px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 15px 10px rgba(0,0, 0, 0.5); 
}
#figure1{
    width: 200px;
}
#figure2{
    width: 415px;
}

.contenedor figure img{
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor figure .capa{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,103, 127, 0.7);
    transition: all 500ms ease-out;
    opacity:0 ;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover > .capa{
    opacity:1;
    visibility: visible;
}
.contenedor figure:hover > .capa h2{
    margin-top:70px;
    margin-bottom: 20px ;
}
.contenedor figure  .capa h2{
    color: #fff;
    font-weight: 400;
    margin-bottom:200px;
    transition: all 500ms ease-out;
    margin-top:10px;
}
.contenedor figure .capa p{
    color:#fff;
    font-size: 15px;
    line-height: 2;
    width: 100%;
    margin:auto;
    max-width: 220px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}

img{
    border-radius: 12px;
    box-shadow: 0px 15px 10px rgba(0,0, 0, 0.5); 

}

iframe{
    border-radius: 12px;
    box-shadow: 0px 15px 10px rgba(0,0, 0, 0.5); 
}



input, textarea{
    outline:none;
    
}

footer{
    background-color: #696969;
}




.container2{
    width: 70%;
    border-radius: 6px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}
.container2 header{
 
    font-size: 20px;
    font-weight: 600;
    color: #333;

}

.container2 form{
    display:flex;
    text-align: left;
    margin-left: 25px;
    align-items: center;
}

.input-fields{
    display:box;
    margin:0.5rem;
}

#caja{
    text-align: center;
}

#enviar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}