
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400;1,500&display=swap');

*{
    padding:0;
    margin:0;
}

body{
    text-align:center;
    font-family: 'Open Sans';
}
header{
    background-color: #f2f2f2;
    padding:10px 0;

}
nav a{
    display: inline-block;
    text-decoration: none;
    color:#696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover{
    background-color: black;
    color: #fff;
}

.portada{
    color:white;
    text-align: center;
    background-image: url(media/pixel.png);
    background-size: contain;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portada h1{
    font-size: 3rem;
    margin: 5 0 15 0;
}
.portada h2{
    font-size: 2rem;
    margin: 5 0 15 0;
}
.portada a{
    text-decoration: none;
    color:white;
    margin-top: 7rem;
    padding: 5px 15px;
    border-radius: 30px;
}
main{
    font-family: 'Open Sans', sans-serif;
}

.portada a:hover{
    background-color: black;
    color: #fff;
}

article h3,p{
    margin:1em 0 1em 0;
}
article p{
    font-family: 'Tai Heritage Pro', serif;
    font-size: 20px;
}

section{
    
    margin-left:12em;
    margin-right:12em;
}

table { font-family: «Lucida Sans Unicode», «Lucida Grande», Sans-Serif;
    font-size: 12px; margin: 45px; width: 480px; text-align: left; border-collapse: collapse;
    margin:0 auto;
}
    
th { font-size: 13px; font-weight: normal; padding: 8px; background: #b9c9fe;
    border-top: 4px solid #aabcfe; border-bottom: 1px solid #fff; color: #039; 
}
    
td { padding: 8px; background: #e8edff; border-bottom: 1px solid #fff;
    color: #669; border-top: 1px solid transparent; }

.tr{
    padding: 8px; background: #e8edff; border-bottom: 1px solid #fff;
    color: black; border-top: 1px solid transparent; 

}
.list{
    text-align: left;
    padding-left: 14em;
    padding-right: 14em;
    

}


